<launch>
	<!-- Arguments -->
	<arg name="map_file" default="$(find Four-wheel_omni)/map/map_world_CG.yaml"/>
	<arg name="open_rviz" default="true"/>
	<arg name="cmd_vel_topic" default="/cmd_vel"/>
	<arg name="scan_topic" default="laser_link/scan"/>

	<!-- Map server -->
	<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

	<!-- AMCL -->
	<include file="$(find Four-wheel_omni)/launch/amcl.launch">
		<arg name="scan_topic" value="$(arg scan_topic)"/>
	</include>

	<!-- rviz -->
	<group if="$(arg open_rviz)">
		<node pkg="rviz" type="rviz" name="rviz" required="true"
			args="-d $(find Four-wheel_omni)/rviz/odom_gazebo.rviz"/>
	</group>
</launch>
